<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CRUDy Book Browser</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body class="container">
    <h1>
      CRUDy Book Browser
    </h1>
    <% if (books) { %>
    <p>There are <%= books.length %> books in the database.</p>
    <table class="table">
      <tbody><tr><th>Title</th><th>Author</th></tr>
        <% books.forEach(function(book){ %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>There are no books in the database.</p>
    <% } %>
    <!-- include the Glitch button to show what the webpage is about and
to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
