<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
  </head>
<body>
  <h1>
    Check out this totally cool dynamic message!
  </h1>
  <p>
    <%= message %>
  </p>
  <p>
    My name is <%= name %>
  </p>
</body>
</html>