<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
  </head>
<body>
  <h1>
    My English Dictionary
  </h1>
  <h1> <%= word %> </h1>
  <p>
    <%= definition %>
  </p>
</body>
</html>